@import '../../styles/Variables';

.c-meetups {
  list-style: none;

  justify-content: space-between;
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: inline-block;
    text-align: center;
  }

  .c-meetups__meetup {
    fill: @green;
    padding: 1%;
    width: 33%;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: inline-block;
    }

    &:hover {
      fill: white;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}
