@import '../../styles/Variables.less';

.banner {
    position: relative;
    overflow: hidden;
    font-family: 'Roboto Mono';
    margin-top: @navigation-height;
    @media only screen and (max-width: @screen-sm) {
        padding-top: 3rem;
        background-color: @banner-bg;
    }

    .logos {
        padding-top: 2rem;
        .tdclogo {
            width: 36rem;
        }
        .tdctext {

        }
    }
}